@model IEnumerable<Assessment.Models.OrderLine>

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<p>
    <a asp-controller="OrderLine" asp-action="Add">Create New order Line</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LineNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductCostPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductSalePrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductType)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LineNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductCostPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductSalePrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductType.ProductTypeDescription)
            </td>
            
            
            <td>
                <a asp-controller="OrderLine" asp-action="Edit" asp-route-id="@item.OrderLineID">Edit</a> |
               
                <a asp-controller="OrderLine" asp-action="Delete" asp-route-id="@item.OrderLineID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
