@model IEnumerable<Assessment.Models.Orders>

@{
    ViewData["Title"] = "List";
}

<h1>List</h1>

<p>
    <a asp-controller="Order" asp-action="Add">Create New Order</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderType.TypeDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderStatus.StatusDescription)
            </td>
            <td>
                <a asp-controller="Order" asp-action="Edit" asp-area="" asp-route-id="@item.OrdersID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.OrdersID">Details</a> |
                <a asp-controller="Order" asp-action="Delete" asp-route-id="@item.OrdersID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
